/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-primary bg-secondary;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

a {
  @apply text-accent hover:text-gray-300;
}
